<ion-header>
  <ion-toolbar>
    <ion-title>edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>{{projet?.Titre}}</ion-item>
    <ion-item>{{projet?.chef}}</ion-item>
    <ion-item>{{projet?.equipe}}</ion-item>
    <ion-item>{{projet?.taches}}</ion-item>
    <ion-item>{{projet?.status}}</ion-item>
    <ion-item>{{projet?.sujet}}</ion-item>
    <ion-item>{{projet?.date_debut}}</ion-item>
    <ion-item>{{projet?.date_fin}}</ion-item>
  
  </ion-list>
</ion-content>
