

<ion-content>
  <ion-tabs>
    <ion-router-outlet></ion-router-outlet>
  
    <ion-tab-bar slot="top">
      <ion-tab-button tab="dash">
        <ion-icon name="radio"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="calandrie-mobile">
        <ion-icon name="radio"></ion-icon>
        Calandrie
      </ion-tab-button>
      <ion-tab-button tab="status">
        <ion-icon name="library"></ion-icon>
        Status
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
