

<ion-content color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-card>
          <ion-card-header class="ion-text-center">
            <ion-card-title class="title">Inscription</ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="ion-text-center  ion-padding">
            <form ngForm #f="ngForm" (ngSubmit)="register({email:f.value.email,password:f.value.pass})">
              <ion-item fill="solid">
                <ion-label position="">Email</ion-label>
                <ion-input ngModel type="text" name="email" #email="ngModel" required></ion-input>
              </ion-item>
              <ion-note slot="error" *ngIf="(email.dirty && email.touched &&email.errors)">email rquired</ion-note>
              <ion-item fill="solid">
                <ion-label position="">password</ion-label>
                <ion-input ngModel type="password" name="pass" #pass="ngModel" required minlength="8"></ion-input>
              </ion-item>
              <ion-note *ngIf="(pass.errors&&pass.touched&&pass.dirty)">password invalid</ion-note>
              <ion-item fill="solid">
                <ion-label position=""> comfirm password</ion-label>
                <ion-input  type="password" name="passconf"  required minlength="8"></ion-input>
              </ion-item>
              <ion-item fill="solid">
                <ion-label position=""> nom</ion-label>
                <ion-input ngModel type="password" name="nom" #nom="ngModel" required minlength="8"></ion-input>
              </ion-item>
              <ion-item fill="solid">
                <ion-label position="">phone_number</ion-label>
                <ion-input ngModel type="text" name="phone" #phone="ngModel"  required minlength="8"></ion-input>
              </ion-item>
              <ion-item fill="solid">
                <ion-label position="">age</ion-label>
                <ion-input ngModel #age="ngModel" type="number" name="age"  required minlength="8"></ion-input>
              </ion-item>
              <ion-button type="submit" (click)="adduser({nom:f.value.nom,phone_number:f.value.phone,email:f.value.email,age:f.value.age})">Connection</ion-button>
            </form>
            </ion-card-content>
        </ion-card>
      </ion-col>
   </ion-row>
  </ion-grid>
 </ion-content>
 