// ion-card{
//     margin-top:100px;
//     width: 110%;
// }

// ion-card *{
//     margin: 5px;
//     font-size: 15px;
// }

// ion-button{
//     margin-top: 40px;
// }
ion-card{
    margin-top:100px;
    width: 100%;
    border-radius: 15px;
    box-shadow: -3px -3px 20px #ddd;
}
ion-input {
    border-radius: 6px;
}
ion-card *{
    margin: 10px;
    font-size: 15px;
}
ion-icon {
    color: #052778;
}
