<ion-header>
  <ion-toolbar>
    <ion-title>ADD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>new project</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form ngForm #f="ngForm" (submit)="ajouterProjet(f.value)">
          <ion-grid>
            <ion-row>
              <ion-col style="height: auto;">

                <!-- Titre -->
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">Titre du projet</ion-label>
                      <ion-input ngModel name="Titre" #Titre="ngModel" type="text" required minlenght="5"></ion-input>
                    </ion-item>
                    <ion-note color="danger" *ngIf="!Titre.valid&&Titre.touched">Titre et obligatoir</ion-note>
                  </ion-col>
                </ion-row>

                <!-- date grid -->
                
                <ion-row>
                  <ion-col>
                    <!-- date_debut  -->
                    <ion-item lines="none">
                      <ion-datetime-button datetime="date1" presentation="date-time"></ion-datetime-button>
                      <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                          <ion-datetime ngModel displayFormat="YYYY/MM/DD" name="date_debut" id="date1" presentation="date-time"></ion-datetime>
                        </ng-template>
                      </ion-modal>
                    </ion-item>

                  </ion-col>
                  <!-- date_fin  -->
                  <ion-col>
                    <ion-item lines="none">
              
                      <ion-datetime-button slots="date-target" datetime="date2"  presentation="date-time"></ion-datetime-button>
                      <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                          <ion-datetime  ngModel displayFormat="YYYY/MM/DD" name="date_fin" id="date2" presentation="date-time"></ion-datetime>
                        </ng-template>
                      </ion-modal>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <!-- equipe grid  -->
                
                <ion-row>
                  <ion-col>
                    <ion-row>
                      <ion-col>
                         <ion-list>
                          <ion-item *ngFor="let member of equipe"><ion-icon name="people-outline"></ion-icon>{{member}}</ion-item>
                         </ion-list>
                        
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">Equipe du projet</ion-label>
                      <ion-input [(ngModel)]="newEquipeMember" name="Equipe"  type="text" minlenght="5"></ion-input>
                    </ion-item>
                    <ion-button (click)="addequipeMember()">add member</ion-button>
                  </ion-col>
                </ion-row>

              </ion-col>

                <!-- sujet col  -->
              <ion-col>
                <ion-row>
                  <ion-col>
                    <ion-textarea required minlength="15" ngModel name="sujet" #sujet="ngModel"  placeholder="Les information donnes ici et tres important pour lequipe et pour le chefe lui meme" [clearOnEdit]="true" rows="10" spellcheck="true">
                      <ion-note  *ngIf="!sujet.touched&&!sujet.valid">Les information donnes ici et tres important pour lequipe et pour le chefe lui meme</ion-note>
                    </ion-textarea>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                     <ion-list>
                      <ion-item *ngFor="let newtache of taches"><ion-icon name="checkmark-done-circle-outline"></ion-icon>{{newtache}}</ion-item>
                     </ion-list>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="floating">Tache</ion-label>
                      <ion-input [(ngModel)]="newtache" name="Tache"  type="text" minlenght="5"></ion-input>
                    </ion-item>
                    <ion-button (click)="addtache()">ajouter tache</ion-button>
                  </ion-col>
                </ion-row>

              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-button color="primary" fill="outline" type="submit" [disabled]="!f.valid">Ajouter un niveau projet</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

















