// list a gauche 


.listgauche {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 300px; 
    box-shadow: 5px 5px  15px #ddd;
}
ion-card {
    box-shadow:-3px -3px 20px #ddd ;
    border-radius: 15px;
    height :140px;
    width: 90%;
    font-weight: 15px;
    padding: 0px;
}
// scrolling list 
.overflow {
    // margin-top: 10px;
    width: 100%;
    height:300px;
    padding: 40px;
    overflow-x: auto;
    overflow-y: auto ;
    // border : solid 2px rgb(212, 212, 212) ;
    border-radius: 5px;
}
::-webkit-scrollbar {
    width: 4px;
    cursor:grab;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent , #727272);
    border-radius: 3px;
    cursor:grab;
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(transparent , #202020);
    border-radius: 3px;
    cursor:grab;
}
.avatar {
    background-color: #ddd;
    // margin-left: 150px;
    // top: 200px;
    margin-top: 40%;
    margin-left: 30%;
    height: 70px;
    width: 70px;
    border-radius: 70px;

    
}

.titles{
    color: #727272;
    border-top:1px solid #727272;
    border-bottom:1px solid #727272;
}