// list a gauche 
.listgauche {
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 300px; 
    box-shadow: 5px 5px  15px #ddd;
}
ion-card {
    box-shadow:-3px -3px 20px #ddd ;
    border-radius: 15px;
    height :140px;
    width: 90%;
    font-weight: 15px;
    padding: 0px;
}
// scrolling list 
.overflow {
    // margin-top: 10px;
    width: 100%;
    height:300px;
    overflow-x: auto;
    overflow-y: auto ;
    border : none ;
    border-radius: 10px;
    box-shadow: -3px -3px 20px #ddd ;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent , #0c2a5e);
    border-radius: 6px;
}
.avatar {
    background-color: #ddd;
    // margin-left: 150px;
    // top: 200px;
    margin-top: 40%;
    margin-left: 30%;
}